package-lock.json
node_modules/*
certificates/*
certificate/*
temp/*
.env
public/files/*
public/heap-profiles/*
public/heap-snapshots/*
public/flame-graphs/*
config/config.json
quick.json
.idea
.vscode
logs
.DS_Store
.clinic
*env*
firebase/*
